<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="kingfisher">

  <!-- Defines the "kingfisher_base" macro -->
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/base_urdf.xacro" />
  <!-- Defines the "usv_gazebo" macro which implements the plugin for USV dynamics -->
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/usv_gazebo.xacro" />

  <!-- Call the macros defined above -->
  <!-- includes basic description witout plugins -->
  <xacro:kingfisher_base />
  <!-- USV dynamic model -->
  <xacro:usv_gazebo name="kingfisher"/>

</robot>