<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kingfisher_imu_gazebo" params="name">
    <gazebo>
      <!-- Either plugin should work -->
      <!--<plugin name="imu_plugin_${name}" filename="libgazebo_ros_imu.so">-->
      <plugin name="imu_plugin_${name}" filename="libhector_gazebo_ros_imu.so">
	<alwaysOn>true</alwaysOn>
	<bodyName>base_link</bodyName>
	<frame_id>odom</frame_id>
	<xyzOffset>0.0 0.0 0.0</xyzOffset>
	<rpyOffset>0.0 0.0 0.0</rpyOffset>
	<topicName>imu/data</topicName>
	<serviceName>imu_service</serviceName>
	<gaussianNoise>0.0</gaussianNoise>
	<updateRate>10.0</updateRate>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
